header.topnavbar-wrapper(ng-include="'views/partials/top-navbar.html'")
aside.aside(ng-include="'views/partials/sidebar.html'", ng-controller="SidebarController")
//aside.offsidebar(ng-include="'views/partials/offsidebar.html'")
section
    .content-wrapper(ui-view="", autoscroll="false", ng-class="spectre.viewAnimation")
//footer(ng-include="'views/partials/footer.html'")
