h3
    .pull-right
        .btn-group(dropdown='', is-open='language.listIsOpen')
            button.btn.btn-default(type='button', dropdown-toggle="")
                | {{language.selected}}
                span.caret
            ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
                li(ng-repeat='(localeId, langName) in language.available')
                    a(ng-click='language.set(localeId, $event)') {{langName}}
    | Single View
    small {{ 'home.WELCOME' | translate:{ appName: spectre.title } }}  !
.row
    .col-xs-12.text-center
        h2.text-thin Single view content
        p This project is an application skeleton. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects.
            br
            | The seed app doesn't do much and has most of the feature removed so you can add theme as per your needs just following the demo app examples.
