@import '../bootstrap/variables';
@import '../bootstrap/mixins/gradients';
@import '../app/extra-variables';
@import '../app/media-queries';

@content-bg: #f5f7fa;
@aside-bg: #fff;

@brand-info: #cf0;

@nav-top-bg: @brand-info;
@nav-top-bg-start: @nav-top-bg;
@nav-top-bg-end: @brand-info-light;
@nav-header-bg: transparent;

@nav-top-item-mobile: @nav-top-bg;
@nav-top-item-mobile-active: darken(@nav-top-item-mobile, 20%);

@nav-top-item-desktop: #fff;
@nav-top-item-desktop-active: darken(@nav-top-item-desktop, 20%);

@sidebar-bg: @aside-bg;

@sidebar-item-color: #515253;
@sidebar-item-color-active: darken(@sidebar-item-color, 20%);
@sidebar-item-bg-active: darken(@sidebar-bg, 1%);

@sidebar-icon-color: inherits;
@sidebar-icon-color-active: @nav-top-bg;

@sidebar-bullet-color: rgba(0, 0, 0, .25);
@sidebar-bullet-color-active: @sidebar-icon-color-active;

@sidebar-heading-color: #919DA8;
@sidebar-label-color: @sidebar-item-color;

@offsidebar-bg: #fff;
@offsidebar-border-color: greyscale(darken(@offsidebar-bg, 20%));
@offsidebar-color: @text-color;

body, .wrapper > section {
    background-color: @content-bg;
}

.wrapper > .aside {
    background-color: @aside-bg;
}

.topnavbar {
    background-color: #fff;
    .navbar-header {
        background-color: @nav-header-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        @media @tablet {
            background-image: none;
        }
    }
    .navbar-nav > li > a, .navbar-nav > .open > a {
        color: @text-color;
        &:hover, &:focus {
//            color: @nav-top-item-mobile-active;
            color: #fff;
            background-color: darken(@brand-info, 20%);
        }
    }
    .navbar-nav > .active > a, .navbar-nav > .open > a {
        &, &:hover, &:focus {
            background-color: transparent;
        }
    }
    .navbar-nav > li > [data-toggle='navbar-search'] {
        color: @nav-top-item-desktop;
    }
    .nav-wrapper {
        background-color: @nav-top-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
    }
}

@media @tablet {
    .topnavbar {
        background-color: @nav-top-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        .navbar-nav > .open > a {
            &, &:hover, &:focus {
                box-shadow: 0 -3px 0 rgba(255, 255, 255, .5) inset;
            }
        }
    }
}

.sidebar {
    background-color: @sidebar-bg;
    .nav-heading {
        color: @sidebar-heading-color;
    }
    .nav {
        > li {
            > a, > .nav-item {
                color: @sidebar-item-color;
                &:focus, &:hover {
                    color: @sidebar-item-color-active;
                }
                > em {
                    color: @sidebar-icon-color;
                }
            }
            &.active, &.open {
                &, > a, .nav {
                    background-color: @sidebar-item-bg-active;
                    color: @sidebar-item-color-active;
                }
                > a > em {
                    color: @sidebar-icon-color-active;
                }
            }
            &.active {
                border-left-color: @sidebar-item-color-active;
            }
        }
    }
}

.sidebar-subnav {
    background-color: @sidebar-bg;
    > .sidebar-subnav-header {
        color: @sidebar-item-color;
    }
    > li {
        > a, > .nav-item {
            color: @sidebar-item-color;
            &:focus, &:hover {
                color: @sidebar-item-color-active;
            }
        }
        &.active {
            > a, > .nav-item {
                color: @sidebar-icon-color-active;
                &:after {
                    border-color: @sidebar-bullet-color-active;
                    background-color: @sidebar-bullet-color-active;
                }
            }
        }
    }
}

.offsidebar {
    border-left: 1px solid @offsidebar-border-color;
    background-color: @offsidebar-bg;
    color: @offsidebar-color;
}
