base(href='/')

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

meta(name='description', content='{{::spectre.description}}')

title(data-ng-bind='pageTitle()') Spectre

link(rel='stylesheet', href='css/spectre.min.css')
link(rel='stylesheet', ng-href='css/{{spectre.layout.theme}}.min.css', data-ng-if="spectre.layout.theme")
