script(type='text/ng-template', id="sidebar-renderer.html")
    span(ng-if="item.heading") {{(item.translate | translate) || item.text}}
    a(ng-if="!item.heading", ng-href="{{$state.href(item.sref, item.params)}}", title="{{item.text}}")
        em(class="{{item.icon}}", ng-hide="inSubmenu")
        .label.label-success.pull-right(ng-if="item.alert") {{item.alert}}
        span {{(item.translate | translate) || item.text}}
    ul(class="nav sidebar-subnav", ng-if="item.submenu", collapse="isCollapse(pIndex)",
    ng-init="addCollapse(pIndex, item)")
        li.sidebar-subnav-header {{(item.translate | translate) || item.text}}
        li(ng-repeat='item in item.submenu', ng-include="'sidebar-renderer.html'",
        ng-class="getMenuItemPropClasses(item)", ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true",
        ng-click="toggleCollapse(pIndex)")
.aside-inner
    nav.sidebar(sidebar="")
        ul.nav
            li(ng-class="getMenuItemPropClasses(item)", ng-repeat='item in menuItems', ng-init="pIndex = $index",
            ng-include="'sidebar-renderer.html'", ng-click="toggleCollapse(pIndex, true)")
