nav.navbar.topnavbar(role='navigation')
    .navbar-header
        a.navbar-brand(href='#/')
            //.brand-logo
            //    img.img-responsive(src="img/logo.png", alt="App Logo")
            //.brand-logo-collapsed
            //    img.img-responsive(src="img/logo-single.png", alt="App Logo")
    .nav-wrapper
        ul.nav.navbar-nav
            li
                a(ng-click="spectre.layout.isCollapsed = !spectre.layout.isCollapsed").hidden-xs.menu-icon(data-ng-class="{'open' : spectre.layout.isCollapsed}")
                    span
                    span
                    span
                a(toggle-state="aside-toggled", no-persist).visible-xs.sidebar-toggle
                    em.fa.fa-navicon
        ul.nav.navbar-nav.navbar-right
            li
                a(search-open="")
                    em.icon-magnifier
            li
                a(toggle-state="offsidebar-open", no-persist)
                    em.icon-notebook
    form.navbar-form(role='search', action="search.html")
        .form-group.has-feedback
            input.form-control(type='text', placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}")
            .fa.fa-times.form-control-feedback(search-dismiss)
        button.hidden.btn.btn-default(type='submit') Submit
