@brand-inverse:          #131e26;
@brand-green:            #37bc9b;
@brand-pink:             #f532e5;
@brand-purple:           #7266ba;
@brand-dark:             #3a3f51;
@brand-yellow:           #fad732;

@amountOfLight: 10%;

@brand-primary-light:          lighten(@brand-primary, @amountOfLight);
@brand-success-light:          lighten(@brand-success, @amountOfLight);
@brand-info-light:             lighten(@brand-info, @amountOfLight);
@brand-warning-light:          lighten(@brand-warning, @amountOfLight);
@brand-danger-light:           lighten(@brand-danger, @amountOfLight);
@brand-inverse-light:          lighten(@brand-inverse, @amountOfLight);
@brand-green-light:            lighten(@brand-green, @amountOfLight);
@brand-pink-light:             lighten(@brand-pink, @amountOfLight);
@brand-purple-light:           lighten(@brand-purple, @amountOfLight);
@brand-dark-light:             lighten(@brand-dark, @amountOfLight);
@brand-yellow-light:           lighten(@brand-yellow, @amountOfLight);

@brand-primary-dark:           darken(@brand-primary, @amountOfLight);
@brand-success-dark:           darken(@brand-success, @amountOfLight);
@brand-info-dark:              darken(@brand-info, @amountOfLight);
@brand-warning-dark:           darken(@brand-warning, @amountOfLight);
@brand-danger-dark:            darken(@brand-danger, @amountOfLight);
@brand-inverse-dark:           darken(@brand-inverse, @amountOfLight);
@brand-green-dark:             darken(@brand-green, @amountOfLight);
@brand-pink-dark:              darken(@brand-pink, @amountOfLight);
@brand-purple-dark:            darken(@brand-purple, @amountOfLight);
@brand-dark-dark:              darken(@brand-dark, @amountOfLight);
@brand-yellow-dark:            darken(@brand-yellow, @amountOfLight);