@aside-wd: 220px;
@aside-wd-collapsed: 70px;
@aside-bg: #fff;

@content-bg: @body-bg;
@content-heading-bg: #fafbfc;
@content-heading-border: #cfdbe2;
@content-padding: 20px;

@footer-hg: 60px;

@navbar-hg: @navbar-height;

@boxed-max-width: 1140px;
@z-index-main-section: 111;

html {
    /* @replace rtl */
    direction: ltr;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    &.ng-leave {
        display: none;
    }
    > .aside {
        position: absolute;
        width: @aside-wd;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: @z-index-main-section - 1;
        .backface-visibility(hidden);
        background-color: @aside-bg;
        .aside-inner {
            padding-top: @navbar-hg * 2;
            height: 100%;
            width: @aside-wd;
            overflow: hidden;
        }
        > .nav-floating {
            left: inherit;
            margin-left: @aside-wd;
            z-index: @z-index-main-section * 10;
            min-width: 190px;
            overflow: auto;
        }
        .dropdown-backdrop {
            z-index: -1;
        }
    }
    > section {
        position: relative;
        height: 100%;
        margin-left: 0;
        background-color: @content-bg;
        margin-bottom: @footer-hg !important;
    }
    > footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: @footer-hg;
        border-top: 1px solid @gray-light;
        padding: @content-padding;
        z-index: @z-index-main-section - 2;
        > p {
            margin: 0;
        }
    }
}

.content-wrapper {
    padding: 15px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-top: -1px;
    > .unwrap {
        margin: -15px;
        @media @tablet {
            margin: -20px;
        }
    }
    > h3, > .content-heading {
        .h3;
        color: #929292;
        margin: -15px;
        margin-bottom: 20px;
        padding: 15px;
        font-weight: normal;
        background-color: @content-heading-bg;
        border-bottom: 1px solid @content-heading-border;
        > small {
            display: block;
            font-size: 12px;
            color: @text-muted;
        }
    }
    > button, > .btn {
        margin: 10px 10px 0 0;
    }
    .container, .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    @media @tablet {
        padding: @content-padding;
        > h3, > .content-heading {
            margin: -@content-padding;
            margin-bottom: @content-padding;
            padding: @content-padding;
        }
        > button, > .btn {
            margin: 0;
        }
    }
}

@media @tablet {
    body {
        min-height: 100%;
    }
    .wrapper {
        > .aside {
            z-index: @z-index-main-section + 5;
            .aside-inner {
                padding-top: @navbar-hg;
            }
        }
        > section, > footer {
            margin-left: @aside-wd;
        }
        > section {
            &.has-sidebar-right {
                margin-right: @aside-wd + 20;
                + .offsidebar {
                    z-index: 1;
                }
            }
        }
    }

}

@media @upto-tablet {
    .wrapper {
        > .aside {
            margin-left: -@aside-wd;
        }
    }
    .aside-toggled {
        .wrapper {
            > section, > footer {
                margin-left: @aside-wd;
            }
            > .aside {
                margin-left: 0;
            }
        }
    }

    .csstransforms3d {
        .wrapper {
            .backface-visibility(hidden);
            > section, > footer {
                margin-left: 0;
                .translate3d(0, 0, 0);
                .transition-transform(.3s ease);
            }
            > .aside {
                margin-left: 0;
                .translate3d(-@aside-wd, 0, 0);
                .transition-transform(.3s ease);

            }
        }
        .aside-toggled {
            .wrapper {
                > section, > footer {
                    .translate3d(@aside-wd, 0, 0);
                }
                > .aside {
                    .translate3d(0, 0, 0);
                }
            }
        }
    }
}

@media @upto-tablet {
    .aside-collapsed .wrapper {
        > .aside {
            margin-left: -@aside-wd-collapsed;
        }
    }

    .aside-collapsed.aside-toggled {
        .wrapper {
            > section,
            > footer {
                margin-left: @aside-wd-collapsed;
            }

            > .aside {
                margin-left: 0;
            }
        }
    }

    .csstransforms3d {

        .aside-collapsed .wrapper {
            .backface-visibility(hidden);
            > section,
            > footer {
                margin-left: 0;
                .translate3d(0, 0, 0);
                .transition-transform(.3s ease);
            }
            > .aside {
                margin-left: 0;
                .translate3d(-@aside-wd-collapsed, 0, 0);
                .transition-transform(.3s ease);

            }
        }

        .aside-collapsed.aside-toggled {
            .wrapper {
                > section,
                > footer {
                    .translate3d(@aside-wd-collapsed, 0, 0);
                }
                > .aside {
                    .translate3d(0, 0, 0);
                }
            }
        }

    }

}

.aside-collapsed {
    overflow-y: auto;
    .wrapper {
        > .aside {
            &, > .aside-inner {
                width: @aside-wd-collapsed;
            }
            > .nav-floating {
                margin-left: @aside-wd-collapsed;
            }
        }
    }
}

@media @tablet {
    .aside-collapsed {
        .wrapper {
            > section, > footer {
                margin-left: @aside-wd-collapsed;
            }
        }
    }
}

.disable-transform () {
    -webkit-transform: none;
    -moz-transform: none;
    -opera-transform: none;
    -ms-transform: none;
    transform: none;
}

.layout-fixed {
    @media (max-width: @boxed-max-width) {
        &.aside-toggled, &.offsidebar-open {
            overflow-y: hidden;
        }
    }
    .wrapper {
        .topnavbar-wrapper {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: @z-index-main-section + 10;
        }
        > aside {
            position: fixed;
        }
        > .aside {
            height: 1px;
            min-height: 100%;
            > .aside-inner {
                position: fixed;
                top: 0;
                bottom: 0;
            }
        }
        > section {
            margin-top: (@navbar-hg + 2.5) * 2;
            @media @tablet {
                margin-top: @navbar-hg;
            }
        }
    }
}

.layout-boxed {
    @media @desktop {
        overflow: auto !important;
        .wrapper {
            margin: 0 auto;
            overflow: hidden;
            box-shadow: 0 0 13px rgba(0, 0, 0, .25);
            .offsidebar {
                position: absolute !important;
            }
            > .aside {
                left: inherit;
            }
            &, & .topnavbar-wrapper {
                width: 970px;
            }
        }
        &.layout-fixed {
            .wrapper > .aside > .aside-inner {
                left: inherit;
            }
        }
    }
    @media @desktop-lg {
        .wrapper {
            &, & .topnavbar-wrapper {
                width: @boxed-max-width;
            }
        }
    }
}
