.menu-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 8px;
    height: 6em;
    width: 6em;
    margin: 2%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span {
        background: @text-color;
        border-radius: 50%;
        height: 0.8em;
        width: 80%;
        position: absolute;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        left: 10%;
        &:nth-child(1) { top: 1em; }
        &:nth-child(2) { top: 2.6em; }
        &:nth-child(3) { top: 4.2em; }
    }
    &.open span {
        &:nth-child(1) {
            -webkit-transform: rotate(45deg) translate(1.1em, 1.1em);
            -ms-transform: rotate(45deg) translate(1.1em, 1.1em);
            transform: rotate(45deg) translate(1.1em, 1.1em);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            -webkit-transform: rotate(-45deg) translate(1.1em, -1.1em);
            -ms-transform: rotate(-45deg) translate(1.1em, -1.1em);
            transform: rotate(-45deg) translate(1.1em, -1.1em);
        }
    }
}


.hidden-footer {
    .wrapper > footer {
        display: none;
    }
    .wrapper > section {
        margin-bottom: 0 !important;
    }
}

.layout-fs {
    .wrapper > section {
        position: absolute;
        top: (@navbar-hg + 2.5) * 2;
        left: 0;
        right: 0;
        bottom: @footer-hg;
        height: auto;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        @media @mobile {
            overflow: hidden;
        }
        @media @tablet {
            top: @navbar-hg;
        }
        > .content-wrapper {
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }
    &.hidden-footer {
        .wrapper > section {
            bottom: 0;
        }
    }
}

.d-table, .d-table-fixed {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 240px;
    border-spacing: 0;
}

.d-table-fixed {
    table-layout: fixed;
}

.d-row {
    display: table-row;
    height: 100%;
}

.d-cell, .d-cell-wrapper {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: top;
    overflow: auto;
}

.d-cell-wrapper {
    display: block;
    .d-cell-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media @upto-tablet {
    .d-table-fixed {
        display: block;
        > .d-cell {
            display: block;
            width: auto;
            height: auto;
        }
    }
}

@-moz-document url-prefix() {
    .d-table, .d-table-desktop {
        height: 240px;
        min-height: 100%;
    }
    .d-cell-inner {
        overflow: auto;
    }
}

.fh {
    height: 100% !important;
}

.fw {
    width: 100% !important;
}

.scroll {
    overflow: auto;
}

.scroll-y {
    overflow-y: auto;
}

.scroll-y {
    overflow-y: auto;
}

.layout-h {
    .wrapper {
        > section {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            > .content-wrapper > h3 {
                display: none;
            }
        }
        > section {
            margin-top: 0;
        }
        > .offsidebar {
            margin-top: @navbar-hg;
        }
        > footer {
            margin: 0;
        }
    }
    &.layout-fixed .wrapper {
        > section, > .offsidebar {
            margin-top: @navbar-hg;
        }
    }
}

@float-space: 15px;
.aside-float {
    .wrapper {
        box-shadow: 0 0 0 #000; // removes
        > footer {
            border: 0;
        }
        > .aside {
            padding: @float-space 0;
            background: transparent;
            > .aside-inner {
                height: auto;
                top: @float-space;
                bottom: @float-space;
                left: inherit;
            }
            .sidebar {
                border: 1px solid @gray-light;
            }
            .sidebar:after {
                display: none;
            }
        }
        @media @tablet {
            > section {
                padding-left: @float-space;
            }

            > footer {
                left: @float-space;
            }
        }
        .content-wrapper {
            border: 0;
            > h3,
            > .content-heading {
                padding-top: 30px;
                border: 0;
                background-color: transparent;
            }
            > .unwrap {
                margin: 0 !important;
            }
        }
    }

    &.aside-toggled .wrapper {
        > .aside {
            .transition-delay(0.05s);
            > .aside-inner {
                margin-left: @float-space;
            }
        }
        > section {
            padding-left: @float-space;
        }
        > footer {
            left: @float-space;
        }
    }

    @media @tablet {
        &.aside-collapsed .topnavbar .navbar-header {
            width: @aside-wd-collapsed + (@float-space * 2);
        }
        &.layout-fs {
            .wrapper > section > .content-wrapper {
                padding: 0 0 0 20px;
            }
        }
        .wrapper > .aside > .aside-inner {
            margin-left: @float-space;
        }
    }
    @media @desktop {
        &.layout-boxed {
            .wrapper > .aside > .aside-inner {
                margin-left: 0;
            }
            .wrapper > section {
                padding-left: 0;
            }
        }
    }
    &.aside-toggled {
        &.layout-fs {
            .wrapper > section > .content-wrapper {
                padding: 0 0 0 20px;
            }
        }
    }
}
