@mq-desktop-lg: @screen-lg-desktop;
@mq-desktop: @screen-desktop;
@mq-tablet: @screen-sm-min;
@mq-mobile: @screen-phone;

@desktop-lg: ~"only screen and (min-width: @{mq-desktop-lg})";
@desktop: ~"only screen and (min-width: @{mq-desktop})";
@tablet: ~"only screen and (min-width: @{mq-tablet})";
@mobile: ~"only screen and (min-width: @{mq-mobile})";

@mq-up-to-desktop-lg: (@screen-lg-desktop - 1);
@mq-up-to-desktop: (@screen-desktop - 1);
@mq-up-to-tablet: (@screen-sm-min - 1);
@mq-up-to-mobile: (@screen-phone - 1);

@upto-desktop-lg: ~"only screen and (max-width: @{mq-up-to-desktop-lg})";
@upto-desktop: ~"only screen and (max-width: @{mq-up-to-desktop})";
@upto-tablet: ~"only screen and (max-width: @{mq-up-to-tablet})";
@upto-mobile: ~"only screen and (max-width: @{mq-up-to-mobile})";

@landscape: ~"(max-device-width: @{mq-tablet}) and (orientation:landscape)";
