@nav-header-wd: @aside-wd;
@nav-header-wd-toggled: @aside-wd-collapsed;

@nav-top-bg: @brand-info;
@nav-top-bg-start: @nav-top-bg;
@nav-top-bg-end: @brand-info-light;
@nav-header-bg: transparent;

@nav-top-item-mobile: @nav-top-bg;
@nav-top-item-mobile-active: darken(@nav-top-item-mobile, 20%);

@nav-top-item-desktop: #fff;
@nav-top-item-desktop-active: @nav-top-item-mobile-active;

.topnavbar {
    -webkit-backface-visibility: hidden; /* fixes chrome jump */
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    z-index: 1050;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    @media @tablet {
        .navbar-header {
            width: @nav-header-wd;
            text-align: center;
            .navbar-brand {
                width: 100%;
            }
        }
    }
}

.topnavbar {
    position: relative;
    .navbar-header {
        background-color: @nav-header-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        @media @tablet {
            background-image: none;
        }
    }
    .navbar-header {
        position: relative;
        z-index: 11;
        .navbar-brand {
            padding: 0;
        }
        .brand-logo, .brand-logo-collapsed {
            > img {
                margin: 0 auto;
            }
        }
        .brand-logo {
            display: block;
            padding: 10px 15px;
        }
        .brand-logo-collapsed {
            display: none;
            padding: 6px 15px;
        }
    }
    .navbar-nav > li > a, .navbar-nav > .open > a {
        color: @nav-top-item-mobile;
        &:hover, &:focus {
            color: @nav-top-item-mobile-active;
        }
    }
    .navbar-nav > .active > a, .navbar-nav > .open > a {
        &, &:hover, &:focus {
            background-color: transparent;
        }
    }
    .navbar-nav > li > [data-toggle='navbar-search'] {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        font-size: 16px;
        line-height: @navbar-height;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
        .transition(color .3s ease);
        @media @tablet {
            color: @nav-top-item-desktop;
        }
    }

}

@media @upto-tablet {
    .sidebar-toggle {
        position: absolute !important;
        top: 5px;
        right: 0;
        color: white !important;
        z-index: 3001;
    }
}

.nav-wrapper {
    padding: 0 15px;
    background-color: transparent;
    .nav.navbar-nav {
        float: left;
        &.navbar-right {
            float: right;
        }
    }
    .nav > li {
        position: static;
        float: left;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background-color: rgb(255, 255, 255);
        left: 0px;
        right: 0px;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }
}

.topnavbar {
    .navbar-form {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: @navbar-height;
        z-index: 9001;
        .transition(all .3s);
        border-bottom: 1px solid #e1e2e3;
        .form-group {
            height: 100%;
            width: 100%;
        }
        .form-control {
            height: 100%;
            border: 0;
            border-radius: 0;
            width: 100%;
        }
        &.open {
            top: 0;
        }
        .has-feedback .form-control-feedback {
            height: 30px;
            cursor: pointer;
            top: 50%;
            margin-top: -15px;
            line-height: 30px;
            margin-right: 10px;
            color: #c1c2c3;
            font-size: 1.5em;
            pointer-events: auto; // make icon clickable
        }
    }
    @media @tablet {
        .navbar-form {
            left: @nav-header-wd;
        }
    }

}

@media @tablet {
    .topnavbar {
        border: 0;
        background-color: @nav-top-bg;
        #gradient.horizontal(@nav-top-bg-start, @nav-top-bg-end);
        .navbar-header {
            #gradient-remove();
        }
        .navbar-nav > a {
            box-shadow: 0 0 0 #000 inset;
            .transition(all .2s);
        }
        .navbar-nav > .open > a {
            &, &:hover, &:focus {
                box-shadow: 0 -3px 0 darken(@nav-top-bg, 6%) inset;
                .transition(all .2s);
            }
        }
        .navbar-nav > li > a, .navbar-nav > .open > a {
            color: @nav-top-item-desktop;
            &:hover, &:focus {
                color: @nav-top-item-desktop-active;
            }
        }
        .navbar-nav > li > [data-toggle='navbar-search'] {
            position: static;
        }

    }

    .nav-wrapper {
        .clearfix();
        position: relative;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
        z-index: 10;
        .navbar-nav .open .dropdown-menu {
            left: auto;
            right: auto;
        }
        .navbar-nav.navbar-right .open .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
}

@media @tablet {
    .aside-collapsed {
        .topnavbar {
            .navbar-header {
                .brand-logo {
                    display: none;
                }
                .brand-logo-collapsed {
                    display: block;
                }
            }
            .navbar-header {
                width: @nav-header-wd-toggled;
            }
            .navbar-form {
                left: @nav-header-wd-toggled;
            }
        }
    }
}

#gradient-remove() {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
