doctype html
html(lang='nl', data-ng-app='spectre')
    head
        include views/partials/_head
    body(data-ng-class="{'layout-fixed' : spectre.layout.isFixed, 'aside-collapsed' : spectre.layout.isCollapsed, 'layout-boxed' : spectre.layout.isBoxed, 'layout-fs': spectre.useFullLayout, 'hidden-footer': spectre.hiddenFooter, 'layout-h': spectre.layout.horizontal, 'aside-float': spectre.layout.isFloat}")
        .wrapper(data-ui-view='', data-autoscroll='false')
        include views/partials/_scripts
